.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #F3E8FF;
  border-radius: 10px;

}

.add-task {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  margin-right: 10px;
}

.add-task input:focus {
  outline-color: #7C4DFF;
}

.add-task button {
  padding: 10px 15px;
  background-color: #7C4DFF;
  color: #FFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.task-list button {
  padding: 5px 10px;
  background-color: #7C4DFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

button:disabled {
  background-color: transparent !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}
